# Verbatim copy of BengalOS' own kernel fragment, kept in tree because the
# OBS buildroot has no network to fetch it from:
# https://salsa.debian.org/BengalOS-team/bengalos-debs/-/raw/main/kernel-configs/bengalos.config

# erofs for /usr
CONFIG_EROFS_FS=y
CONFIG_EROFS_FS_ZIP=y
CONFIG_EROFS_FS_ZIP_LZMA=y
CONFIG_EROFS_FS_ZIP_DEFLATE=y
CONFIG_EROFS_FS_ZIP_ZSTD=y

# btrfs for /
CONFIG_BTRFS_FS=y

# dm-verity for usr and sysexts
CONFIG_DM_VERITY=m
CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG=y
CONFIG_DM_VERITY_FEC=y

# Get a sane package version without git revision
CONFIG_LOCALVERSION_AUTO=n
