Source: linux-pxa1908-mainline
Section: kernel
Priority: optional
Maintainer: Miroslav Mraz <mraz.miro@seznam.cz>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 12)
Build-Depends-Arch: bc, bison, flex,
 gcc-aarch64-linux-gnu <!pkg.linux-pxa1908-mainline.nokernelheaders>,
 kmod, libdw-dev:native, libelf-dev:native,
 libssl-dev:native, libssl-dev <!pkg.linux-pxa1908-mainline.nokernelheaders>,
 python3:native, rsync, zstd
Homepage: https://www.kernel.org/

Package: linux-image-7.3.0-rc5-pxa1908
Architecture: arm64
Description: Linux kernel, version 7.3.0-rc5-pxa1908
 This package contains the Linux kernel, modules and corresponding other
 files, version: 7.3.0-rc5-pxa1908.

Package: linux-headers-7.3.0-rc5-pxa1908
Architecture: arm64
Build-Profiles: <!pkg.linux-pxa1908-mainline.nokernelheaders>
Description: Linux kernel headers for 7.3.0-rc5-pxa1908 on arm64
 This package provides kernel header files for 7.3.0-rc5-pxa1908 on arm64
 .
 This is useful for people who need to build external modules

Package: linux-image-7.3.0-rc5-pxa1908-dbg
Section: debug
Architecture: arm64
Build-Profiles: <!pkg.linux-pxa1908-mainline.nokerneldbg>
Description: Linux kernel debugging symbols for 7.3.0-rc5-pxa1908
 This package will come in handy if you need to debug the kernel. It provides
 all the necessary debug symbols for the kernel and its modules.
